.nav-log{
    height:100px;
    margin-top:-8px;
    background-color: pink;
    border:2px solid rgb(240, 79, 105);
}
.nav-link{
    color: black;
}
.nav-link:hover{
    background-color: white;
    border-radius: 20px;
}
#login{
    height:700px;
}
.card{
    border:2px solid black;
    margin-top: 100px;
    padding-left: 50px;
    height:500px;
}
h3{
    margin-bottom: 50px;
}
.signup-input{
    width:90%;
}
