body{
    font-family: "Montserrat";
}
.navbar-brand{
    font-size: 3.25rem;
    font-family: "Ubuntu";
    font-weight: bold;
}
#tindog_hed{
    font-size: 2.25rem;
}
#title{
    background-color: #ff4c68;
    color:white;
    height:830px;
}

.container-fluid{
    padding:70% 90%;
}

h1 {
    font-family: 'Montserrat';
}
h2 {
    font-family: 'Montserrat';
   
}
h3{
    font-family: 'Montserrat';
}
.hed{
    font-size: 3.5rem;
    line-height: 1.5;
}
.nav-item{
    padding:50px 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
.download-button{
    margin:5% 3% 5% 0;
}
.title-image{
    width:50%;
    transform: rotate(20deg);
}
#features{
    padding:7% 15%;
}
.feature-box{
   text-align: center;
}

.feature-box p{
    padding:4px 43px;
    color: grey;
}
.feature-box h3{
    padding:4px 43px;
}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 30px;
}
.press-box{
    width:15%;
    margin:20px 20px 50px;
}
.carousel-item{
    /* by this i got the spacing btw my side arrows */
    padding:7% 15%;
}
#pricing{
    text-align: center;
    padding:100px;
}
#pricing button{
    width:100%;
    padding:5px 70px;
}
.pricing-box{
    padding-top:30px;
}