*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    text-decoration: none;
    text-transform: capitalize;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 209, 214);
}
.headd{
    margin-top: 5rem;
}
header {
    position:fixed;
    top: 0; left: 0; right: 0;
    background-color:#d87093;
    box-shadow: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img{
 height:70px;
 margin-right: 10px;

}
header .navbar ul{
 list-style: none;
}
header .navbar ul li{
 position: relative;
 float: left;
}
header .navbar ul li a{
 font-size: 20px;
 padding:20px;
 color:black;
 display:block;
}
header .navbar ul li a:hover{
 background:white;
 color:chartreuse;
}
header .navbar ul li ul{
 position:absolute;
 left: 0;
 width:200px;
 background: palevioletred;
 display: none;
}
header .navbar ul li ul li{
 width:100%;
 border-top: 1px solid chartreuse;
}
header .navbar ul li:hover >ul{
 display: initial;
}

#menu-bar{
 display: none;
}

header label{
 font-size: 20px;
 color:black;
 cursor:pointer;
 display: none;
}
.accordion{
    margin-top: 5rem;
    width: 40%;
    margin:50px auto ;
    background-color: rgb(187, 181, 184);
}
    
.accordion-toggle{
    display:none ;
}
.accordion-tab > label{
    color:aliceblue;
    background-color: rgb(119, 117, 118);
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    position:relative ;
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    border-top:2px solid black ;
}
.accordion-content{
    
    max-height:0 ;  
    transition: all .4s;
    overflow: hidden;
}
.accordion-content p{
    padding:15px 20px ;
    line-height: 20px ;
}
.accordion-toggle:checked ~ .accordion-content{
    max-height:100vh ;
    

}
h2{
    
    margin: 0px 382px;
    font-family: cursive;
    text-align:center;
}
.ask{
    background-color: aliceblue;
    padding:25px;
    line-height: 30px;
}
.ques{
    width:100%;
    cursor:pointer;
    line-height:32px ;
    border-radius: 5px;
    border-color: black;
    padding-left: 10px;
    
}
button{
    background: rgb(187, 181, 184);
    border-color:rgb(119, 117, 118);
    width: 95px;
    height: 25px;
    

}
@media(max-width:991px){
    
    header{
        padding:20px;
    }
    header label{
        display:initial;
    }
    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: palevioletred;
        border-top: 1px solid chartreuse;
        display:none;
    }
    header .navbar ul li{
        width:100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
      background:palevioletred;
    }
    #menu-bar:checked ~ .navbar{
        display:initial;
    }
}
